<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">
          <a href="/{{ post.getCategory() }}/@{{ post.author }}/{{ post.permlink }}">
            {{ post.title }}
          </a>
          <div class="sub header">
            {{ "%datetime%" | trans({'%datetime%' : post.ts | date("d M Y")})}}
            - 
            {% for tag in post.getTags() %}
              {% if tag %}
              <a href="/tagged/{{ tag }}">
                #{{ tag }}
              </a>
              {% endif %}
            {% endfor %}
          </div>
        </h3>
        {{ post.html_preview | raw }}
      </div>
      <div class="six wide right floated column">
        <img src="{{ (post.image) ? post.image : '/themes/greymass/img/placeholder.png' }}" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class="ui huge button" href="/{{ post.getCategory() }}/@{{ post.author }}/{{ post.permlink }}">Read More</a>
      </div>
    </div>
  </div>
</div>